<app-header></app-header>
<app-menu></app-menu>
<div class="content-inner">
    <div class="container-fluid">

        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">{{title}}</h2>
                    <div>
                        <div class="page-header-tools">
                            <a class="btn btn-gradient-01" href="javascript:void(0)" (click)="goBack()">Back</a>
                        </div>
                    </div>
                    <div>
                        <div class="page-header-tools">
                            <a class="btn btn-gradient-01" [routerLink]="['/gallery/create/']">Add Image</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row flex-row">
            <div class="col-12">
                <!-- Form -->
                <div class="widget has-shadow">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>#ID</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Created At</th>
                            <th>Is Active</th>
                            <!--th>Share in</th-->
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let gallery of gallerys | paginate: { itemsPerPage: count, currentPage: p }">
                            <td>{{gallery.id}}</td>
                            <td><img src="{{gallery.image}}" style="width: 100px"></td>
                            <td>{{gallery.title}}</td>
                            <td>{{gallery.created_at | date: 'mediumDate'}}</td>
                            <td>{{gallery.is_active}}</td>
                            <!--td>
                                <share-buttons [theme]="'modern-dark'" [include]="['facebook','twitter','linkedin','google','pinterest','telegram','whatsapp','line','sms','email']" [show]="2" [size]="-3" [url]="'https://valispa.com/'" [autoSetMeta]="false"></!--share-buttons>
                                <share-buttons show="2" [include]="['facebook','twitter','linkedin','pinterest','telegram','whatsapp','line','sms','email']" [url]="'https://valispa.com/'" [image]="'gallery.image'"></share-buttons>
                            <td-->

                            <td class="td-actions">
                                <a [routerLink]="['/gallery/edit', gallery.id]"><i class="la la-edit edit"></i></a>
                                <a (click)="onDelete(gallery.id)"><i class="la la-close delete"></i></a>
                            </td>
                        </tr>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    {{error}}

                </div>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <app-footer></app-footer>