<div class="default-sidebar">
    <!-- Begin Side Navbar -->
    <nav class="side-navbar box-scroll sidebar-scroll ">
        <!-- Begin Main Navigation -->
        <ul class="list-unstyled">
            <li><a routerLink="/home"><i class="la la-columns"></i><span>Dashboard</span></a>
            </li>
        </ul>
        <span class="heading">Treatments</span>
        <ul class="list-unstyled">
            <li><a href="#dropdown-Facial" aria-expanded="false" data-toggle="collapse"><i class="la la-smile-o"></i><span>Facial</span></a>
                <ul id="dropdown-Facial" class="collapse list-unstyled pt-0">
                    <li><a routerLink="/antiage">Antiage Treatments</a></li>
                    <li><a routerLink="/restorative">Restorative facial</a></li>
                    <li><a routerLink="/calming">Calming</a></li>
                    <li><a routerLink="/brightening">Brightening</a></li>
                    <li><a routerLink="/specialf">Special Facial</a></li>
                    <li><a routerLink="/luxuring">Luxury Facial</a></li>
                </ul>
            </li>
            <li><a routerLink="/wax"><i class="la la-fire"></i><span>Wax</span></a></li>
            <li><a routerLink="/permanent"><i class="la la-female"></i><span>Permanent Makeup</span></a></li>

            <li><a href="#dropdown-Body" aria-expanded="false" data-toggle="collapse"><i class="la la-street-view"></i><span>Body</span></a>
                <ul id="dropdown-Body" class="collapse list-unstyled pt-0">
                    <li><a routerLink="/hand">Hand and legs</a></li>
                    <li><a routerLink="/sculpting">Body Sculpting</a></li>
                    <li><a routerLink="/wrapping">Body Wrapping</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-Make" aria-expanded="false" data-toggle="collapse"><i class="la la-paint-brush"></i><span>Makeup</span></a>
                <ul id="dropdown-Make" class="collapse list-unstyled pt-0">
                    <li><a routerLink="/look">Makeup looks</a></li>
                    <li><a routerLink="/bridal">Bridal Looks</a></li>
                    <li><a routerLink="/clases">Makeup Classes</a></li>
                </ul>
            </li>
            <li><a href="#dropdown-Fibroblast" aria-expanded="false" data-toggle="collapse"><i class="la la-file-o"></i><span>Fibroblast</span></a>
                <ul id="dropdown-Fibroblast" class="collapse list-unstyled pt-0">
                    <li><a routerLink="/face">Face</a></li>
                    <li><a routerLink="/body">Body</a></li>
                    <li><a routerLink="/hypertrophic">Hypertrophic</a></li>
                </ul>
            </li>

            <li><a routerLink="/specialt"><i class="la la-diamond"></i><span>Special Treatments</span></a></li>
        </ul>

        <span class="heading">Galery</span>
        <ul class="list-unstyled">
            <li><a href="#dropdown-Galery" aria-expanded="false" data-toggle="collapse"><i class="la la-photo"></i><span>Galery</span></a>
                <ul id="dropdown-Galery" class="collapse list-unstyled pt-0">
                    <li><a routerLink="/modal">Modal Home</a></li>
                    <li><a routerLink="/gallery">Galery</a></li>
                    <li><a routerLink="/promos">Promos</a></li>
                </ul>
            </li>
        </ul>
        <span class="heading">Pages</span>
        <ul class="list-unstyled">
            <li><a href="#dropdown-Pages" aria-expanded="false" data-toggle="collapse"><i class="la la-file-o"></i><span>Pages</span></a>
                <ul id="dropdown-Pages" class="collapse list-unstyled pt-0">
                    <li><a routerLink="/pages">Pages</a></li>
                </ul>
            </li>
        </ul>
        <!--ul class="list-unstyled">
            <li><a routerLink="/contact"><i class="la la-inbox"></i><span>Contacts</span></a></li>
            <li><a href="/subcriptores"><i class="la la-user-plus"></i><span>Subscribers</span></a></li>
        </ul-->
        <!-- End Main Navigation -->
    </nav>
    <!-- End Side Navbar -->
</div>
<!-- End Left Sidebar -->