<app-header></app-header>
<app-menu></app-menu>

<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Dashboard</h2>
                    <div>
                        <div class="page-header-tools">
                            <a class="btn btn-gradient-01" href="#">Add Widget</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->

        <!-- Begin Row -->
        <div class="row flex-row">
            <!-- Begin Facial -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-smile-o"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3><a routerLink="/facialinfo">Facial</a></h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/antiage">Antiage Treatments</a></li>
                                    <li><a routerLink="/restorative">Restorative facial</a></li>
                                    <li><a routerLink="/calming">Calming</a></li>
                                    <li><a routerLink="/brightening">Brightening</a></li>
                                    <li><a routerLink="/specialf">Special Facial</a></li>
                                    <li><a routerLink="/luxuring">Luxury Facial</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Wax -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-fire"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3><a routerLink="/waxinfo">Wax</a></h3>
                                </div>
                                <li><a routerLink="/wax">wax</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Permanent -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-female"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3><a routerLink="/permanentinfo">Permanent Makeup</a></h3>
                                </div>
                                <li><a routerLink="/permanent">Permanent makeup</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Body -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-street-view"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3><a routerLink="/bodyinfo">Body</a></h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/hand">Hand and legs</a></li>
                                    <li><a routerLink="/sculpting">Body Sculpting</a></li>
                                    <li><a routerLink="/wrapping">Body Wrapping</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Makeup -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-paint-brush"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3><a routerLink="/makeupinfo">Makeup</a></h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/look">Makeup looks</a></li>
                                    <li><a routerLink="/bridal">Bridal Looks</a></li>
                                    <li><a routerLink="/clases">Makeup Classes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Fibroblast -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-file-o"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3><a routerLink="/fibroblastinfo">Fibroblast</a></h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/face">Face</a></li>
                                    <li><a routerLink="/body">Body</a></li>
                                    <li><a routerLink="/hypertrophic">Hypertrophic</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Special Treatments -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-diamond"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3><a routerLink="/specialtinfo">Special Treatments</a></h3>
                                </div>
                                <li><a routerLink="/specialt">Special Treatments</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Home -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-photo"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Modal Home</h3>
                                </div>
                                <li><a routerLink="/modal">Modal Home</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-photo"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Gallery</h3>
                                </div>
                                <li><a routerLink="/gallery">Gallery</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Posts -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-photo"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Posts</h3>
                                </div>
                                <li><a routerLink="/red">Posts</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- End Row -->

    </div>
    <!-- End Container -->
    <app-footer></app-footer>