<app-header></app-header>
<app-menu></app-menu>

<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Welcome</h2>
                </div>
            </div>
        </div>
        <!-- End Page Header -->

        <div class="row">
            <div class="page-header">
                <div class="d-flex ">
                    <h3>Treatments</h3>
                </div>
            </div>
        </div>
        <!-- End Page Header -->

        <!-- Begin Row -->
        <div class="row flex-row">

            <div class="clear"></div>
            <!-- Begin Facial -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-smile-o"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Facial</h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/antiage">Antiage Treatments</a></li>
                                    <li><a routerLink="/restorative">Restorative facial</a></li>
                                    <li><a routerLink="/calming">Calming</a></li>
                                    <li><a routerLink="/brightening">Brightening</a></li>
                                    <li><a routerLink="/specialf">Special Facial</a></li>
                                    <li><a routerLink="/luxuring">Luxury Facial</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Wax -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-fire"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Wax</h3>
                                </div>
                                <li><a routerLink="/wax">wax</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Permanent -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-female"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Permanent Makeup</h3>
                                </div>
                                <li><a routerLink="/permanent">Permanent makeup</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Body -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-street-view"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Body</h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/hand">Hand and legs</a></li>
                                    <li><a routerLink="/sculpting">Body Sculpting</a></li>
                                    <li><a routerLink="/wrapping">Body Wrapping</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Makeup -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-paint-brush"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Makeup</h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/look">Makeup looks</a></li>
                                    <li><a routerLink="/bridal">Bridal Looks</a></li>
                                    <li><a routerLink="/clases">Makeup Classes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Fibroblast -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-file-o"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Fibroblast</h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/face">Face</a></li>
                                    <li><a routerLink="/body">Body</a></li>
                                    <li><a routerLink="/hypertrophic">Hypertrophic</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Special Treatments -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-diamond"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Special Treatments</h3>
                                </div>
                                <li><a routerLink="/specialt">Special Treatments</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Gallery -->
        <div class="row">
            <div class="page-header">
                <div class="d-flex ">
                    <h3>Gallery</h3>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">

            <!-- Modal Home -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-laptop"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Modal Home</h3>
                                </div>
                                <li><a routerLink="/modal">Modal Home</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-file-photo-o"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Gallery</h3>
                                </div>
                                <li><a routerLink="/gallery">Gallery</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Posts -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-photo"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Promos</h3>
                                </div>
                                <li><a routerLink="/promos">Promos</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Pages-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex ">
                    <h3>Pages</h3>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Location-->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-flag"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Pages</h3>
                                </div>
                                <li><a routerLink="/pages">Pages</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Financing -->
            <!--div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-dollar"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Financing</h3>
                                </div>
                                <li><a routerLink="/financing">Financing</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->

        </div>

        <!-- Pages-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex ">
                    <h3>Contacts</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Location-->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-envelope"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Contacts</h3>
                                </div>
                                <li><a routerLink="/contact">contact</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Container -->
    <app-footer></app-footer>